
<h1>Menu</h1>
<hr>
<div class="flexContainerAuto">

  <div class="redBox">
    <form>
      <p>Please select your veggie:</p>
      <span *ngFor="let ve of allVeggies">
      <input type="radio" name="veggie" value="{{ ve }}" [(ngModel)]="veggie"> {{ ve }}<br>
      </span>
    </form>
  </div>
  <div class="redBox">
    <form>
      <p>Please select your protein:</p>
      <span *ngFor="let pr of allProteins">
      <input type="radio" name="protein" value="{{ pr }}" [(ngModel)]="protein"> {{ pr }}<br>
      </span>

    </form>
  </div>

  <div style="margin-bottom: 10px; margin-left: 5%">
    <button type="button" class="btn btn-primary" (click)="orderDish()" style="margin-right: 10px">Submit</button>
    <button type="button" class="btn btn-primary" (click)="clearOrder()">Reset</button>
  </div>

</div>

<div *ngIf="isSubmitted" class="informBoxBoarder" style="margin: 10px"> You ordered: {{ dishOrdered }} </div>




